.Counter {
  justify-items: center;
  p {
    font-style: normal;
    font-weight: 400;
    align-content: center;
    background-color: cadetblue;
    border-radius: 50px;
    height: 2rem;
    width: fit-content;
    padding: 0 1rem;
  }
}
