.Modal {
  justify-self: center;
  align-self: center;
  gap: 1rem;
  border-radius: 10px;
  border: none;
  background: rgb(229, 228, 238);
  background: linear-gradient(180deg, rgba(229, 228, 238, 1) 0%, rgba(202, 202, 215, 1) 100%);
  color: #1a1a1a;
  box-shadow: #1a1a1a 4px 4px 5px;

  div {
    display: grid;
    grid-template-areas:
  "Content Content Content"
  "OptBtn1 OptBtn2 CloseBtn";
  }

  .ContentContainer {
    grid-area: Content;
  }

  button {
    width: 100px;
    background-color: #b42525;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    transition: ease-in-out 0.3s;
    margin: 0.5rem;
    cursor: pointer;
    &:hover {
      background: #c73e3e;
    }
    &:active {
      background: #8d1414;
    }
  }

  .CloseModalBtn {
    grid-area: CloseBtn;
  }

  .OptBtn1 {
    grid-area: OptBtn1;
  }

  .OptBtn2 {
    grid-area: OptBtn2;
  }
}

.Modal::backdrop {
  backdrop-filter: blur(3px);
}

.OpenModalBtn {
  background-color: #b42525;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1rem;
  transition: ease-in-out 0.3s;
  margin: 0.5rem;
  cursor: pointer;
  &:hover {
    background: #c73e3e;

  }
  &:active {
    background: #8d1414;
  }
}