@use "./style/forwards";
@use "./style/variables";

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  
}

.GlassShowcase {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 25px;
  gap: 25px;
  width: 800px;
  height: 450px;
  background-image: url("https://i.postimg.cc/fRFrdyMJ/Background.webp");
  background-repeat: no-repeat;
  overflow: auto;
}