@use "./style/forwards";
@use "./style/variables";
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  @include forwards.textRegular;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: variables.$bgcolor;
  color: variables.$color;
}